In [1]:
import pandas as pd
import numpy as np

from params.constants import *
from loader.loader import *

In [2]:
dataloader = DataLoader("ml_genome_scores")

In [5]:
ml_genome_scores = dataloader.data

In [6]:
ml_genome_scores.head()

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s